<header>
    <nav>
        <ul>
            <li>
                <a href="/">
                    home
                </a>
            </li>
            <li>
                <a href="http://localhost:3000/expenses/create">
                    create expense
                </a>
            </li>

        </ul>
    </nav>
</header>